{% extends 'private/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {{ tinymce_init() }}
{% endblock %}
