{% extends 'base.html.twig' %}

{% block title %}blog.martinec.name private area{% endblock %}
{% block body %}
    <div id="wrapper">
        <h1>blog.martinec.name private area</h1>
    </div>

{% endblock %}
{% block links %}
    <div class="login"><a href="{{ path('create') }}">Create article</a></div>
    <div class="login"><a href="{{ path('index') }}">Homepage</a> <a href="{{ path('logout') }}">Log out</a></div>
{% endblock %}
