{% if articles is not empty %}
    {% for article in articles %}
        <div>
            <h3><a href="{{ path('article', { "slug": article.url }) }}">{{ article.title }}</a></h3>
        </div>
        <div class="pager"></div>
    {% endfor %}
{% else %}
    <div>
        Nothing yet...
    </div>
{% endif %}