{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h1>{{ tag }} | <a href="{{ path('index') }}">{{ site_title }}</a></h1>

        {% include 'default/list.html.twig' %}
    </div>
{% endblock %}
